/*
 * Title:   Custom Style File
 * Author:  http://themeforest.net/user/soaptheme 
 */

#hotel-features article img.custom_amenity {
    margin-top: 5px;
    margin-right: 5px;
    opacity: 0.7
}
#hotel-features article img.custom_amenity:hover {
    opacity: 1;
}